/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /*top.html.erb*/

 .top-page {
  font-family: Arial, sans-self;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.top-p {
  font-size: 18px;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

a:hover {
  background-color: blue;
}

/*index.html.erb*/

.index {
  margin: 30px 0 0 30px
}

h2 {
  margin-top: 20px;
}

table {
  width: 50%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ddd;
}

#error-display {
  width: 500px;
  background-color: #E0E0E0;
  border: 1px solid red;
  margin-bottom: 20px;
}

.error-count {
  height: 30px;
  background-color: #B22222;
}

#error-display h3 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 3px;
}

#error-display ul {
  margin: 30px;
}

#error-display li {
  list-style: square;
}

.index-p {
  margin-top: 10px;
  font-size: 15px;
}

.long-text {
  word-wrap: break-word;
  max-width: 300px;
}

.action-bottoms {
  display: flex;
  gap: 10px;
}

/*show.html.erb*/

.show {
  margin:50px 0 0 50px;
}

#notice {
  color: green;
  font-weight: bold;
  margin-bottom: 20px
}

.show-p {
  margin: 20px 0;
}

/*edit.html.erb*/

.edit {
  margin: 50px 0 0 50px;
}

.update-field {
  margin-bottom: 20px;
}